<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>MCQs - </h1></center>
    <div>
        <h3>FULL TEXT</h3>
        {{ full_text}}
    </div>
    <div>
        <h3>SUMMARY</h3>
        {{ summarized_text }}
    </div>
    <div>
        <h3>MCQS</h3>
        {% for key in MCQ.keys() %}
        <p>
            <strong>{{ key }}. </strong>
            {{ MCQ[key]['question'] }}
        </p>
        <ol style="list-style-type: lower-latin;">
            {% for opt in MCQ[key]['options'] %}
            <li>{{ opt }}</li>
            {% endfor %}
        </ol>
        <small>{{ MCQ[key]['answer'] }}</small>
        
        <br>
        {% endfor %}
    </div>
</body>
</html>